<!DOCTYPE html>
<html>
  <head>
    <title>TemplateRubyOnRails</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <header><%= link_to 'Hacker News', '/' %></header>

    <nav>
        <%= link_to 'Sign Up', new_user_registration_path if !current_user %>
        <%= link_to 'Sign In', new_user_session_path if !current_user %>
        <%= link_to 'Sign Out', destroy_user_session_path, method: :delete if current_user %>
    </nav>
    <p id="notice"><%= notice %></p>

    <%= link_to 'New Post', new_post_path %>

    <%= yield %>
    <footer></footer>


  </body>
</html>
